@mixin layout($width, $height, $order, $gap){
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    flex-grow: 0;
    width: $width;
    height: $height;
    order: $order;
    gap: $gap;
}


@mixin font($size, $weight, $line-height, $color){
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
    line-style: noramal;

}